<section id="about" class="about section-bg">
  <div class="container">
    <h2 class="about__title h2">
      Who am I?
    </h2>
    <div class="about__inner">
      <div class="about__img">
        <img src="../img/about-test.jpeg" alt="">
      </div>
      <div class="about__content">
        <h3>
          A 23 year old self-taught front-end web developer
        </h3>
        <p>
          I’m highly motivated and have a true passion for this industry. Ever since I produced "Hello World" in the console of my first application I knew I was hooked into the world of software development.
        </p>
        <p>
          I care deeply about perfecting my craft on a daily basis and I'm always striving to be a better developer than I was the day before.
        </p>
      </div>
    </div>
  </div>
</section>
