<section class="blog section-bg">
  <div class="container">
    <h2 class="blog__title h2">
      Blog
    </h2>
    <div class="blog__items">
      <a class="blog__item" href="#" style="background-image: url(../img/blog/sass.png);">
        <div class="blog__item-content">
          <div class="blog__item-date">
            02.22.2024
          </div>
          <h3 class="blog__item-title">
            Sass Selectors: To Nest Or Not To Nest?
          </h3>
        </div>
      </a>
      <a class="blog__item" href="#" style="background-image: url(../img/blog/sass.png);">
        <div class="blog__item-content">
          <div class="blog__item-date">
            02.22.2024
          </div>
          <h3 class="blog__item-title">
            Sass Selectors: To Nest Or Not To Nest?
          </h3>
        </div>
      </a>
      <a class="blog__item" href="#" style="background-image: url(../img/blog/git.jpeg);">
        <div class="blog__item-content">
          <div class="blog__item-date">
            03.21.2023
          </div>
          <div class="blog__item-title">
            How to Fix "throw er; // Unhandled 'error' event"?
          </div>
        </div>
      </a>
    </div>
    <a class="blog__link button">
      see more
    </a>
  </div>
</section>
