<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="h2">Contact Me</h2>
    <div class="contacts__inner ">
      <form action="" class="form" id="contacts_form">
        <div class="form__body form__items">
          <label for="name" class="form__item">
            <input class="form__input form__input-name __req" required type="text" name="name" placeholder="Your name" id="form-type-email name">

          </label>
          <label for="email" class="form__item">
            <input class="form__input form__input-email __req" required type="text" name="email" placeholder="example@mail.com" id="form-type-email email">
          </label>
          <label for="email" class="form__item form__item-message">
            <textarea class="form-input form__input-message __req" type="textarea" name="message" placeholder="Yuor message" id="message"></textarea>
          </label>
          <button class="form__item-submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
