<section id="projects" class="portolio section-bg">
  <div class="container">
    <h2 class="h2">My Portfolio</h2>
    <div class="portfolio__list">
      <div class="portfolio__item">
        <div class="portfolio__item-img">
          <img src="img/gunbot.jpeg" alt="">
        </div>
        <div class="portfolio__item-content">
          <div class="portfolio__item-title"><a href="#">Gunbot the crypto trading landing page</a></div>
          <a class="portfolio__item-link" href="#">Details</a>
          <!-- <div class="portfolio__item-text">
            Crafting a Landing Page for Gunbot Trading Bot -->

<!-- Placing a spotlight on automation to eradicate emotional trading.
Presenting BitRage as a pathway to risk-free profit.
Highlighting MarketMaker as the key to triumph in any market scenario.
Leveraging Gunbot's robust offerings, I curated a page tailored to resonate with traders in search of advanced solutions. Harnessing a blend of HTML, CSS, and JavaScript, I ensured seamless user interaction and captivating visual appeal.

From integrating over 15 strategies to seamlessly syncing with TradingView, every aspect was meticulously
crafted to captivate and enlighten. As the final stroke fell into place, the landing page emerged as
a beacon of innovation in the realm of crypto trading bots, beckoning traders to explore
its vast potential across 150+ exchanges. -->
          <!-- </div> -->
        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__item-img">
          <img src="img/ullman.jpg" alt="">
        </div>
        <div class="portfolio__item-content">
          <div class="portfolio__item-title"><a href="#">Ulman Sails informative web site</a></div>
          <a class="portfolio__item-link" href="#">Details</a>

        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__item-img">
          <img src="img/furniture.jpeg" alt="">
        </div>
        <div class="portfolio__item-content">
          <div class="portfolio__item-title"><a href="#">ELITE FURNITURE</a></div>
          <a class="portfolio__item-link" href="#">Details</a>
        </div>
      </div>

      <div class="portfolio__item">
        <div class="portfolio__item-img">
          <img src="img/gunbot.jpeg" alt="">
        </div>
        <div class="portfolio__item-content">
          <div class="portfolio__item-title"><a href="#">HOST OF EVENTS</a></div>
          <a class="portfolio__item-link" href="#">Details</a>
        </div>
      </div>

    </div>
  </div>
</section>
