<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section__title">
      <h2 class="h2 skills__title">
        My skills
       </h2>
    </div>

    <ul class="skills__list">
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/sass.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/bootstrap.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/css3.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/react.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/nextjs.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/html5.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/javascript.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/gulp.svg" alt="">
        </a>
      </li>
      <li class="skills__item">
        <a href="#">
          <img src="img/svg/redux.svg" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>
